In [2]:
a = 100
b = 200
temp = a
a = b
b = temp
print(a,b)

200 100

In [3]:
s = input("please enter a string:")

please enter a string:hello world

In [4]:
s

'hello world'

In [5]:
print(s)

hello world

In [6]:
str2 = eval(input("please enter an integer:"))

please enter an integer:88

In [7]:
num = str2 + 80
print(num)

168

In [8]:
num1,num2,num3 = eval(input("enter three numbers separated by commas:"))
total = num1 + num2 + num3
average = total/3
print("total = %d,and average = %f"%(total,average))

enter three numbers separated by commas:100,150,180
total = 430,and average = 143.333333

In [9]:
a = 100
b = 200
c,d = a,b
print(c,d)
print(c)
print(d)
print()

100 200
100
200

In [12]:
a = 100
b = 200
c,d = a,b
print(c,d)
print(c,end=' ')
print(d,end='***')
print("over")

100 200
100 200***over

In [13]:
a = 100
b = 200
c,d = a,b
print(c,d)
print(c,end='$')
print("and")
print(d,end="***")
print("over")

100 200
100$and
200***over

In [14]:
x = 100
y = 3
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)
print(x**0.5)

300
33.333333333333336
33
1
1000000
10.0

In [15]:
str1="hello,"
str2="Python"
str3=str1+str2
print(str3)
a = 100
b = 200
c = a + b
print(c)

hello,Python
300

In [17]:
str1="hello," + \
    "python,let\'s learning "
str2="python now"
str3=str1+str2
print(str3)

hello,python,let's learning python now